<li class="restaurant-item">
  <article>
    <h2><%= restaurant.name %></h2>
    <div class="restaurant-meta">
      <p><%= restaurant.cuisine %></p>
      <p><%= restaurant.address %></p>
    </div>
    <p>
      <%= restaurant.description %>
    </p>
    <div class="restaurant-actions">
      <a href="/restaurants/<%= restaurant.id %>">View Restaurant</a> 
      <!-- ejs가 이 템플릿을 구문 분석할 때 구체적인 값을 얻고 랜더링된 html 내용을 넣은 후에 해당 링크에도 넣어주게됨  -->
    </div>
  </article>
</li>